<?xml version='1.0' encoding='utf-8'?>
<widget id="com.roadkill" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Roadkill</name>
    <description>
        臺灣野生動物路死觀察網 Taiwan Roadkill Observation Network
    </description>
    <author email="dnlin@tesri.gov.tw" href="http://roadkill.tw">
        行政院農業委員會特有生物研究保育中心路殺社
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
</widget>
